# Core functionality - changes here should be rare!
/src/app.py                   @KhwaloSokanyile007
/src/backend/database.py      @KhwaloSokanyile007
/src/backend/routers/auth.py  @KhwaloSokanyile007

# The frontend will need refactored soon to be more object oriented.
/src/static/   @KhwaloSokanyile007
